.container{
display: flex;
justify-content: space-between;
align-items: center;
padding: 5px 0px;
}
.container img{
    width: 150px;
    height: auto;    
}

.container a{
    padding: 0px 5px;
    font-size: 1.5rem;
    text-decoration: none;
    color: gray;    
}

/*--------------------------------------------------------------------*/

.page-01{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/landing.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    color: white;
}



/*--------------------------------------------------------------------*/

.page-02{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.page-02 img{
    width: 120px;
    height: auto;
}

.page-02 .boxes-container{
    display: flex;
    width: 100%;
}

.page-02 div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 20px 10px;
    height: 350px;
    
}
.page-02 .boxes{
    flex-direction: column;
    width: 350px;
    height: 280px;
    border: yellow solid 5px;
}
.page-02 .sub-tittle{
    color: #00B172;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
}

.page-02 .tittle{
    border-bottom: #00B172 solid;
    
}

/*--------------------------------------------------------------------*/

.page-03{
    background-color: #00B172;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    
}
.page-03 img{
    height: 350px;
    margin: 100px 0px;
}
.page-03 h1{
    border-bottom: solid white 2px;
}
.center img{
    width: 100px;
    height: 100px;
}






/*--------------------------------------------------------------------*/

@media(650px <= width <= 1000px){
/*------------------TABLET------------------*/
/*------------------NAV------------------*/
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0px;
        }
        .container img{
            width: 90%;
            height: auto;    
        }
        
        .container a{
            padding: 5px 20px;
            font-size: 1.6rem;
            text-decoration: none;
            color: gray;    
        }

/*------------------PAGE-02------------------*/

.page-02{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.page-02 img{
    width: 120px;
    height: auto;
}

.page-02 .boxes-container{
    display: flex;
    width: 100%;
}

.page-02 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 20px 10px;
    height: auto;
    
}
.page-02 .boxes{
    flex-direction: column;
    width: 350px;
    height: 280px;
    border: yellow solid 5px;
}
.page-02 .sub-tittle{
    color: #00B172;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
}

.page-02 .tittle{
    border-bottom: #00B172 solid;
    
}

}

@media(649px >= width){
/*------------------MOVIL------------------*/
/*------------------NAV------------------*/
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0px;
        }
        .container img{
            width: 90%;
            height: auto;    
        }
        
        .container a{
            display: flex;
            flex-direction: column;
            padding: 5px 20px;
            font-size: 4.0rem;
            text-decoration: none;
            color: gray;    
        }

/*------------------PAGE-02------------------*/

.page-02{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.page-02 img{
    width: 120px;
    height: auto;
}

.page-02 .boxes-container{
    display: flex;
    width: 100%;
}

.page-02 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 20px 10px;
    height: auto;
    
}
.page-02 .boxes{
    flex-direction: column;
    width: 350px;
    height: 280px;
    border: yellow solid 5px;
}
.page-02 .sub-tittle{
    color: #00B172;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
}

.page-02 .tittle{
    border-bottom: #00B172 solid;
    
}

}

/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
