.container{
display: flex;
justify-content: space-between;
align-items: center;
padding: 5px 0px;
}
.container img{
    width: 150px;
    height: auto;    
}

.container a{
    padding: 0px 5px;
    font-size: 1.5rem;
    text-decoration: none;
    color: gray;    
}

/*--------------------------------------------------------------------*/

.page-01{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-01 img{
    width: 100%;
    height: auto;
}
.page-01 p{
    color: aqua;
    position: absolute;
    z-index: 10;
}


/*--------------------------------------------------------------------*/

.page-02{
    display: flex;
    border: solid 2px black;
    flex-direction: column;
    align-items: center;
    
}

.page-02 img{
    width: 120px;
    height: auto;
}

.page-02 .boxes-container{
    display: flex;
    width: 100%;
}

.page-02 div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 20px 10px;
    height: 350px;
    
}
.page-02 .boxes{
    flex-direction: column;
    width: 350px;
    height: 280px;
    border: yellow solid 5px;
}
.page-02 .sub-tittle{
    color: #00B172;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
}

.page-02 .tittle{
    border-bottom: #00B172 solid;
    border-top: none;
    border-left: none;
    border-right: none;
}












@media(650px <= width <= 1000px){
/*------------------TABLET------------------*/
/*------------------NAV------------------*/
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0px;
        }
        .container img{
            width: 90%;
            height: auto;    
        }
        
        .container a{
            padding: 5px 20px;
            font-size: 1.6rem;
            text-decoration: none;
            color: gray;    
        }

/*------------------PAGE-02------------------*/

.page-02{
    display: flex;
    border: solid 2px black;
    flex-direction: column;
    align-items: center;
    
}

.page-02 img{
    width: 120px;
    height: auto;
}

.page-02 .boxes-container{
    display: flex;
    width: 100%;
}

.page-02 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 20px 10px;
    height: auto;
    
}
.page-02 .boxes{
    flex-direction: column;
    width: 350px;
    height: 280px;
    border: yellow solid 5px;
}
.page-02 .sub-tittle{
    color: #00B172;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
}

.page-02 .tittle{
    border-bottom: #00B172 solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

}

@media(649px >= width){
/*------------------MOVIL------------------*/
/*------------------NAV------------------*/
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0px;
        }
        .container img{
            width: 90%;
            height: auto;    
        }
        
        .container a{
            display: flex;
            flex-direction: column;
            padding: 5px 20px;
            font-size: 4.0rem;
            text-decoration: none;
            color: gray;    
        }

/*------------------PAGE-02------------------*/

.page-02{
    display: flex;
    border: solid 2px black;
    flex-direction: column;
    align-items: center;
    
}

.page-02 img{
    width: 120px;
    height: auto;
}

.page-02 .boxes-container{
    display: flex;
    width: 100%;
}

.page-02 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 20px 10px;
    height: auto;
    
}
.page-02 .boxes{
    flex-direction: column;
    width: 350px;
    height: 280px;
    border: yellow solid 5px;
}
.page-02 .sub-tittle{
    color: #00B172;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
}

.page-02 .tittle{
    border-bottom: #00B172 solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

}

/*.page-01{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.page-01 img{
    width: 100%;
    height: 100%;
    z-index: 10;      
}
.page-01 p{
    position: absolute;
    color: white;
    font-size: 15px;
    z-index: 50;
    width: 400px;
    text-align: center;     
}
.page-01 em{
    text-decoration: none;
    font-size: 50px;
}

/*-----------------------------*/

/*.page-02{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    flex-direction: row;
}

.boxes img{
    width: 100px;
    height: 50px;
}
*/
/*
.box-01 img{
    width: 100px;
    height: 50px;
}

.box-02 img{
    width: 100px;
    height: 50px;
}
.box-03 img{
    width: 100px;
    height: 50px;
}
*/
/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
