.container{
display: flex;
justify-content: space-between;
align-items: center;
padding: 5px 0px;
}
.container img{
    width: 150px;
    height: auto;    
}

.container a{
    padding: 0px 5px;
    font-size: 1.5rem;
    text-decoration: none;
    color: gray;    
}

@media(650px <= width <= 1000px){

    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0px;
        }
        .container img{
            width: 90%;
            height: auto;    
        }
        
        .container a{
            padding: 5px 20px;
            font-size: 1.6rem;
            text-decoration: none;
            color: gray;    
        }

}

@media(649px >= width){

    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0px;
        }
        .container img{
            width: 90%;
            height: auto;    
        }
        
        .container a{
            display: flex;
            flex-direction: column;
            padding: 5px 20px;
            font-size: 4.0rem;
            text-decoration: none;
            color: gray;    
        }

}

/*.page-01{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.page-01 img{
    width: 100%;
    height: 100%;
    z-index: 10;      
}
.page-01 p{
    position: absolute;
    color: white;
    font-size: 15px;
    z-index: 50;
    width: 400px;
    text-align: center;     
}
.page-01 em{
    text-decoration: none;
    font-size: 50px;
}

/*-----------------------------*/

/*.page-02{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    flex-direction: row;
}

.boxes img{
    width: 100px;
    height: 50px;
}
*/
/*
.box-01 img{
    width: 100px;
    height: 50px;
}

.box-02 img{
    width: 100px;
    height: 50px;
}
.box-03 img{
    width: 100px;
    height: 50px;
}
*/
/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
